langchain
langchain-core
langchain-openai
openai

langchain-anthropic
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
pytorch
pydantic-settings
tensorflow
numpy
scikit-learn
pandas
python-dotenv
pypdf
langgraph
chromadb
tqdm
pydantic
loguru
rich
sentence-transformers
langchain-groq
